* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

:root {
    --background-box: rgba(180,210,210,.5);
}

@font-face {
    font-family: 'Caniago';
    src: url(./Caniago/Caniago\ Regular.woff2) format('woff2'),
    url(./Caniago/Caniago\ Regular.ttf) format('ttf');
}

body {
    background-color: black;
}

nav {
    position: absolute;
    display: flex;
    top: 0;
    gap: 2rem;
    font-size: 3rem;
}

nav div {
    background-color: var(--background-box);
    padding: 1rem;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-left: 2px solid black;
    border-bottom: 2px solid black;
    border-right: 2px solid black;
    box-shadow: 2px 2px 5px -2px rgba(0,0,0,.8);
}

nav div:hover {
    background-color: rgba(222,252,252,.5);
    cursor: pointer;
}

#content {
    min-height: 100vh;
    width: 100vw;
    background-image: url(../src/blurredbackground.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    position: relative;
}

.container {
    width: 50vw;
    padding: 3rem;
    border-radius: 10px;
    box-shadow: 1px 1px 5px 1px rgba(0,0,0,.5);
    background: var(--background-box);
    border: 1px solid black;
}

.food {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
    'apps pork'
    'rice chef'
    'lomein chef';
}

.appetizers { 
    grid-area: apps;
}

.pork {
    grid-area: pork;
}

.fried-rice {
    margin-top: 2rem;
    grid-area: rice;
}

.lo-mein {
    grid-area: lomein;
}

.chef-specials {
    border: 3px rgb(153, 0, 0) double;
    grid-area: chef;
}

.food-menu {
    position: absolute;
    top: 15vh;
}

.name {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    margin-bottom: 2rem;
    font-size: 2rem;
}

.name h1, .name h3 {
    font-family: 'Caniago';
}

.food > div {
    padding: 1.2rem 2.4rem;
}

.menu-section {
    font-size: 2rem;
    font-family: 'Caniago';
}

.spicy {
    color: rgb(153, 0, 0);
}

.descriptive {
    font-size: .7rem;
}

.advert {
    font-size: 1.2rem;
}

.disclaimer {
    display: flex;
    justify-content: center;
    margin: .5rem;
}

.top-images, .bottom-images {
    margin: 1rem;
    display: flex;
    justify-content: center;
    gap: 2rem;
}

.img1 {
    background-image: url(../src/food_images/chinese.avif);
    background-size: cover;
    width: 150px;
    height: 150px;
    border: 2px solid black;
    border-radius: 10px;
}

.img2 {
    background-image: url(../src/food_images/Gobi_Manchurian-color-corrected.webp);
    background-size: cover;
    width: 150px;
    height: 150px;
    border: 2px solid black;
    border-radius: 10px;
}

.img3 {
    background-image: url(../src/food_images/fast-pork-fried-rice-107790-1.jpeg);
    background-size: cover;
    width: 150px;
    height: 150px;
    border: 2px solid black;
    border-radius: 10px;
}

.img4 {
    background-image: url(../src/food_images/eggrolls-14.jpg);
    background-size: cover;
    width: 150px;
    height: 150px;
    border: 2px solid black;
    border-radius: 10px;
}

.img5 {
    background-image: url(../src/food_images/googai.jpeg);
    background-size: cover;
    width: 150px;
    height: 150px;
    border: 2px solid black;
    border-radius: 10px;
}

.img6 {
    background-image: url(../src/food_images/Chinese-Donuts-Photo-2.jpg);
    background-size: cover;
    width: 150px;
    height: 150px;
    border: 2px solid black;
    border-radius: 10px;
}
